<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>XacmlPAP1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="xacml-pap/config/environment" content="%7B%22modulePrefix%22%3A%22xacml-pap%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22xacml-pap%22%2C%22version%22%3A%220.0.1+02d05b84%22%7D%2C%22ember-cli-mirage%22%3A%7B%22usingProxy%22%3Afalse%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />

    <link rel="stylesheet" href="{{ asset('bundles/galmixacmlpap/assets/vendor-5304c0205928100851aed0e62bef1a48.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/galmixacmlpap/assets/xacml-pap-79f7f9dd32dfd5510e8a11865e61635a.css') }}">


</head>
<body>


<script src="{{ asset('bundles/galmixacmlpap/assets/vendor-1b43005e09a4dce8f2ce9adc15f97fbb.js') }}"></script>
<script src="{{ asset('bundles/galmixacmlpap/assets/xacml-pap-6f075b34a91f8396b262f4c71287b73d.js') }}"></script>


</body>
</html>
